.nav-container {
  width: 100%;
}

.nav-container img {
  vertical-align: middle;
}

.title {
  font-size: 42px;
  font-weight: bold;
  display: inline-block;
  margin: 20px 40px;
  vertical-align: middle;
}

.nav {
  display: inline-block;
  font-size: 30px;
}

.nav a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
  opacity: 0.5;
}

.nav a:hover {
  text-decoration: underline;
  opacity: 1.0;
}

.nav a.current {
  font-weight: bold;
  opacity: 1.0;
}

.results {
  border-collapse: collapse;
  text-align: left;
}

.header-row {
  background-color: #E9E9E9;
  border-bottom: 1px solid #666;
}

.results th {
  padding: 5px 10px;
}

.results tr:nth-child(odd) {
  background-color: #EBEBEB;
}

.results td {
  padding: 5px 10px;
}

.results td:nth-child(1n+3) {
  text-align: right;
}

.results .totals {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
