.nav-container {
  width: 100%;
}

.title {
  display: inline-block;
  margin: 20px 40px;
}

.nav {
  display: inline-block;
  font-size: 30px;
}

.nav a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a.current {
  font-weight: bold;
}

.results {
  border-collapse: collapse;
  text-align: left;
}

.header-row {
  background-color: #E9E9E9;
  border-bottom: 1px solid #666;
}

.results th {
  padding: 5px 10px;
}

.results tr:nth-child(odd) {
  background-color: #EBEBEB;
}

.results td {
  padding: 5px 10px;
}
